.account {
  position: relative;
  width: 100%;
  height: 37px;
  align-self: stretch;
  border: var(--border-grey);
  border-radius: var(--radius-max);
  background-color: #fff;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 500;
  transition: opacity 0.3s, visibility 0.3s, width 0.3s;
}
.account__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  overflow: hidden;
  cursor: var(--cursor-point);
}
.main_collapsed .account__wrapper {
  justify-content: center;
  padding: 0;
}

.account__wrapper::after {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #acacac;
  border-left: 1px solid #acacac;
  content: "";
  transform: rotate(-45deg);
  z-index: 20;
  pointer-events: none;
  transition: transform .1s;
}
.main_collapsed .account__wrapper::after {
  display: none;
}
.account__wrapper.active::after {
  transform: rotate(135deg) translateY(-2px);
}
.account__icon {
  opacity: 0;
  z-index: 20;
  width: 20px;
  height: 20px;
  mask: url("../../media/icons/profile.svg") no-repeat center/contain;
  background-color: var(--color-text-black);
  transition: opacity 0.1s;
}
.main_collapsed .account__icon {
  opacity: 1;
}
.account__wrapper input {
  z-index: 20;
  width: 100%;
  margin-right: 5px;
  color: var(--color-text-black);
  cursor: var(--cursor-point);
  transition: width 0.1s, margin-right 0.1s, visibility 0.1s, opacity 0.1s;
}
.main_collapsed .account__wrapper input {
  position: absolute;
  /* width: 0;
  margin-right: 0; */
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}
.account__list {
  position: absolute;
  top: 70px;
  z-index: 10;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: var(--border-grey);
  border-radius: var(--radius-max);
  box-shadow: var(--shadow-podium);
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  color: black;
  transition: opacity 0.1s, visibility 0.1s, top 0.1s, right 0.1s, width 0.1s;
}
.main_collapsed .account__list {
  right: 0;
  top: 0;
}
.account__list.active {
  top: 45px;
  visibility: visible;
  opacity: 1;
}
.main_collapsed .account__list.active {
  top: 0;
  right: -150px;
  width: 150px;
}
.account__item {
  padding: 0.5em 1em;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 400;
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s;
}

.account__item.selected {
  color: var(--color-text-blue);
}

.account__item:hover {
  background-color: var(--color-action-blue);
  color: var(--color-text-white);
}