services:
  app:
    build: 
      context: .
      args: 
        VUE_APP_API_URL: http://api.roomschool.ru
    container_name: roomschool_lms
    restart: always
    environment:
      - PORT=3000

  nginx:
    image: nginx:stable-alpine
    container_name: roomschool_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - app