@use "@/assets/styles/variables.scss" as *;

@mixin content-view {
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    padding: 1.5em;
    box-sizing: border-box;
    background-color: $color-bg-grey;

    @media (max-width: $breakpoint-page-desktop) {

    }

    @media (max-width: $breakpoint-page-laptop) {

    }

    @media (max-width: $breakpoint-page-tablet) {

    }

    @media (max-width: $breakpoint-page-smartphone) {

    }

    @media (max-width: $breakpoint-page-mobile) {

    }
}