@use "@/assets/styles/variables.scss" as *;

@mixin btn-classic {
    padding: 0.5em 1em;
    border: none;
    border-radius: $radius-lg;
    font-family: $font-family-montserrat;
    font-size: $font-size-text-xs;
    font-weight: 500;
    background-color: $color-btn-dark-blue;
    color: $color-text-white;
    cursor: pointer;
}