@mixin empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2em 1em;
    font-family: $font-family-montserrat;
    font-size: $font-size-text-xs;
    font-weight: 400;
    color: $color-text-grey;
}



@mixin mini-icon {
    width: 20px;
    height: 20px;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
}