@use "@/assets/styles/variables.scss" as *;

@mixin page-title {
    margin-bottom: 20px;
    font-family: $font-family-montserrat;
    font-size: $font-size-title-lg;
    font-weight: 600;
    color: $color-text-black;
}

@mixin section-title {
    margin-bottom: 20px;
    font-family: $font-family-montserrat;
    font-size: $font-size-title-md;
    font-weight: 500;
    color: $color-text-black;

    @media (max-width: $breakpoint-page-desktop) {
        font-size: $font-size-title-sm;
    }

    @media (max-width: $breakpoint-page-laptop) {
        
    }

    @media (max-width: $breakpoint-page-tablet) {
        
    }

    @media (max-width: $breakpoint-page-smartphone) {
        font-size: $font-size-title-xs;
    }

    @media (max-width: $breakpoint-page-mobile) {
        
    }
}

@mixin card-title {
    margin-bottom: 10px;
    font-family: $font-family-montserrat;
    font-size: $font-size-title-sm;
    font-weight: 400;
    color: $color-text-black;
}

@mixin card-text {
    font-family: $font-family-nunito;
    font-size: $font-size-text-xs;
    font-weight: 400;
    color: $color-text-black;
}

@mixin title {
    font-family: $font-family-montserrat;
    font-size: $font-size-title-xs;
    font-weight: 400;
    color: $color-text-black;
}

@mixin note-title {
    font-family: $font-family-nunito;
    font-size: $font-size-title-xs;
    font-weight: 400;
    color: $color-text-grey;
}

@mixin note-text {
    font-family: $font-family-nunito;
    font-size: $font-size-text-min;
    font-weight: 400;
    color: $color-text-grey;
}

@mixin counter-blue {
    font-family: $font-family-montserrat;
    font-size: $font-size-text-xs;
    font-weight: 500;
    color: $color-text-blue;
}

@mixin player-title($icon-url) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-sm;
  font-weight: 600;

  &::before {
    width: 15px;
    height: 15px;
    content: "";
    mask-image: url($icon-url);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: $color-icon-blue;
  }
}