@mixin empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2em 1em;
    font-family: $font-family-montserrat;
    font-size: $font-size-text-xs;
    font-weight: 400;
    color: $color-text-grey;
}

@mixin btn-classic {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-family: $font-family-montserrat;
    font-size: $font-size-text-xs;
    font-weight: 500;
    background-color: $color-btn-dark-blue;
    color: $color-text-white;
    cursor: pointer;
}

@mixin page-title {
    margin-bottom: 20px;
    font-family: $font-family-montserrat;
    font-size: $font-size-title-lg;
    font-weight: 600;
    color: $color-text-black;
}