@use "@/assets/styles/variables.scss" as *;

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('@/assets/fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('@/assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('@/assets/fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('@/assets/fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('@/assets/fonts/nunito/Nunito-Light.woff2') format('woff2'),
        url('@/assets/fonts/nunito/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('@/assets/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
        url('@/assets/fonts/nunito/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $color-text-black;
    outline: none;
    cursor: $cursor-point;
}

button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: $cursor-point;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $font-family-montserrat;
}

p {
    margin: 0;
    font-family: $font-family-nunito;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

body {
    min-width: 320px;
    height: 100vh;
    overflow: hidden;
    background-color: $color-bg-grey;
    cursor: $cursor-select;
}

.icons {
    display: none;
}

/* 
_____________
Разметка MarkDown
_____________
*/
.description_md h1 {
  margin-bottom: 30px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-max;
  font-weight: 500;
}

.description_md h2 {
  margin-bottom: 25px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-lg;
  font-weight: 500;
}

.description_md h3 {
  margin-bottom: 20px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-md;
  font-weight: 500;
}

.description_md h4 {
  margin-bottom: 15px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-sm;
  font-weight: 500;
}

.description_md h5 {
  margin-bottom: 10px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-xs;
  font-weight: 500;
}

.description_md h6 {
  margin-bottom: 5px;
  font-family: $font-family-montserrat;
  font-size: $font-size-title-min;
  font-weight: 500;
}

.description_md p {
  margin-bottom: 15px;
  font-family: $font-family-nunito; 
  font-size: $font-size-text-md;
  font-weight: 400;
}

.description_md ul {
  padding: 0 1em;
  list-style: circle;
}

.description_md ol {
  padding: 1em;
}

.description_md li {
  margin-bottom: 15px;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-md);
  font-weight: 400;
}